// CSS that is applied only for sceen that is more then 768px wide.

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */


  #container {
      background:white;
      margin:0 auto;
      max-width:960px;
  }
}