// CSS that is applied only for sceen that is less then 480px wide.

@media only screen and (max-width: 480px) {
    
    body, #container {
        width:100%;
    }
    
    #portal-column-one, 
    #portal-column-two,
    #portal-column-content { 
        float: none!important;
        clear: both; 
        width: 97.75%; 
        margin-left: -98.875%; 
    }
    
    #portal-personaltools {
        font-size: 12px !important;
        padding: 5px;
    }

    #portal-searchbox {
        float: none !important;
        font-size: 12px !important;
        margin: 1em 0;
        text-align: center;
        
        input {
            font-size: 12px !important;
        }
    }
    
    #portal-logo {
        margin-bottom: 1em;
    }
    
    #content-views {
        float:none;
        
        a {
            font-size: 100%;
            line-height: 2em !important;
            padding: 5px 10px;
        }
    }
    
    #content li.formTab a {
        font-size: 110%;
        line-height: 2em !important;
        padding: 0.25em;
    }
    
    #edit-bar {
        background-color:transparent;
        border:none;
        padding-bottom: 10px;

    }

    #contentActionMenus {
        float: none;
        top: auto;
        right: auto;
        margin: 20px 0 0;
        .rounded-corners(0.5em);

        a {
            width: 100%;
            line-height: 2em !important;
            font-size: 100%;
            padding-top:5px;
        }        
        dl.actionMenu {
            float:none;
            
            a, 
            &.activated dd {
                background-color:transparent;
                min-width: 80%!important;
                right: auto;
                position: relative;
                border:0;
            }
        }
        .actionMenuContent {
            background-color: #eee!important;
        }
    }

    input, textarea {
        font-size: 120% !important;
    }
    
    div.managePortletsLink,
    a.managePortletsFallback {
        font-size: 110%;
    }
    
    div.overlay {
        font-size: 110%;
    }
    
    .pb-ajax > div {
        width: 87%;
    }
    
    div.overlay-iframe,
    div.overlay-ajax {
        width: 80%;
    }
    
    #fieldset-openid-login label, #login-form label {
        text-align: center;
    }
    
    .visible {
        display: block!important;
        visibility: visible!important;
    }
    
    // Show menu button, and hide the actual menu
    #mobile-globalnav {
        display: block!important;
        visibility: visible;
        border-bottom: 1px solid #fff;
        font-size: 100%;
        padding: 10px;
        background: #DDD;
        cursor: pointer;
    }
    
    #portal-globalnav {
        display: none;
        visibility: hidden;
        
        li, li a {
            display:block;
            font-size: 110%;
            padding: 0;
        }
        li a {
            padding:10px;
        }
    }
    

    #plone-contentmenu-display {
        float: none;
    }

}