// CSS that is applied only for sceen that is less then 768px wide.

@media only screen and (min-width: 481px) and (max-width: 800px)  {

    // MOVE RIGHT COLUMN DOWN
    // Set the content column to use the width of the column that was moved down
    .tablet-right-down {
        
        .no-right-sidebar();
        
        // Move the right column down and use the whole width
        #portal-column-two { 
            float: none!important;
            clear: both;
            margin-left: 0;
            width: 100%;
        }
        
    }


    // MOVE LEFT COLUMN DOWN
    // Set the content column to use the width of the column that was moved down
    .tablet-left-down {
        
        .no-left-sidebar();
        
        // Move the left column down and use the whole width
        #portal-column-one { 
            float: none!important;
            clear: both;
            margin-left: 0;
            width: 100%;
        }
        
    }
}