// CSS that is applied only for sceen that is less then 768px wide.

@media only screen and (min-width: 480px) and (max-width: 800px)  {
  /* Style adjustments for viewports 480px - 800px go here */

    #portal-column-two { 
        float: none!important;
        clear: both; 
        width: 97.75%; 
        margin-left: -98.875%; 
    }
    
    div.width-1\3a 2 { width:    72.75%; }

}