// Variables that set the base properties for the theme

// Body styling

@body-width: 1000px;
@body-margin: 0 auto;
@body-background: White;
@body-font: 100% Arial, FreeSans, sans-serif;
@body-font-color: Black;

// Heading styling

@heading-font-family: "Helvetica Neue", Arial, FreeSans, sans-serif;
@heading-font-weight: bold;
@heading-font-color: Black;
@heading-line-height: 1.5em;

// Subheading - h2, h3, h4, h5, h6
@subheading-font-color: #444;

@h1-font-size: 2em;
@h2-font-size: 1.75em;
@h3-font-size: 1.25em;
@h4-font-size: 1.25em;
@h5-font-size: 1em;
@h6-font-size: 0.8em;

@link-color: #205c90;

@dt-font-weight: bold;

@input-font-family: "Lucida Grande", Arial, FreeSans;


// HEADER STYLING

@portal-logo-margin: 0;

// Menu
@menu-font-size: 80%;
@menu-background: #ddd;
@menu-item-background: #ddd;
@menu-item-border-top: none;
@menu-item-border-bottom: none;
@menu-item-border-left: none;
@menu-item-border-right: none;
@menu-item-color: Black;
@menu-item-min-width: auto;
@menu-item-padding: 1em;
@menu-item-selected-background: #205c90;
@menu-item-selected-font-color: White;

@menu-item-selected-hover-background: #205c90;
@menu-item-selected-hover-font-color: White;

// Personal Tools
@personaltools-background: #e3e3e3;
@personaltools-margin: 0;

// Language Selector
@languageselector-background: #e3e3e3;

// Live Search
@LiveSearch-border: 0.1em solid #ccc;
@LiveSearchLegend-background: #ccc;
@LiveSearchDescription-color: #666;
@LiveSearchHighlight-background: #ddd;

// Site Actions
@SiteActions-color: #75ad0a;


// BODY STYLING

// Listings
@ListingsLink-color: Black;
@ListingsLink-border: 1px dotted #205c90;

// Portlets
@Portlet-header-background: #ddd;
@Portlet-header-color: White;
@Portlet-error-background: #FFA500;
@Portlet-managePortlets-background: #ddd;
@Portlet-blockedPortlet-background: none repeat scroll 0 0 transparent;
@Portlet-blockedPortlet-border: 1px dashed #DDDDDD;
@Portlet-blockedPortlet-color: #666666;
@Portlet-Calendar-background: #EEEEEE;
@Portlet-Calendar-weekdays-background: #EEEEEE;
@Portlet-Calendar-event-background: #EEEEEE;
@Portlet-Calendar-todayEvent-background: #EEEEEE;
@Portlet-Calendar-todayEvent-border: 2px solid #205C90;
@Portlet-Calendar-todayNoEvent-border: 2px solid #205C90;

// Edit bar
@EditBar-background: #DDD;
@EditBar-border: 0.25em solid #DDD;
@EditBar-color: #666;
@EditBar-dropdown-border: 0.5em solid #DDD;

// Content
@content-link-color: #205c90;
@content-link-boerder-bottom: 0.1em solid #ccc;
@content-link-visited-color: #427597;
@content-link-visited-border-bottom: 0.1em solid #ccc;
@content-link-hover-color: #75ad0a;
@content-link-target-background: #ffb;


// Workflow State - member.less

@workflow-state-private: Red;
@workflow-state-private-color: White;
@workflow-state-visible: #74AE0B;
@workflow-state-visible-color: White;
@workflow-state-published: #436976;
@workflow-state-published-color: White;
@workflow-state-pending: #FFA500;
@workflow-state-pending-color: White;
@workflow-state-expired: Red;
@workflow-syndicated: #008000;