/* Variables that set the base properties for the theme */

/* Body styling */

/*@body-width: 100%;*/
@body-width: 960px;
@body-margin: 0 auto;
@body-background: White;
@body-font: 100% Arial, FreeSans, sans-serif;
@body-font-color: Black;

/* Heading styling */

@heading-font-family: "Helvetica Neue", Arial, FreeSans, sans-serif;
@heading-font-weight: bold;
@heading-font-color: Black;
@heading-line-height: 1.5em;

/* Subheading - h2, h3, h4, h5, h6*/
@subheading-font-color: #444;

@h1-font-size: 2em;
@h2-font-size: 1.75em;
@h3-font-size: 1.25em;
@h4-font-size: 1.25em;
@h5-font-size: 1em;
@h6-font-size: 0.8em;

@link-color: #205c90;

@dt-font-weight: bold;

@input-font-family: "Lucida Grande", Arial, FreeSans


/* HEADER STYLING */

@portal-logo-margin: 1.375em 0;

/* Menu */
@menu-font-size: 80%
@menu-background: #ddd;
@menu-item-padding: 0.5em 1em 2em 1em;
@menu-item-background: #ddd;
@menu-item-min-width: 6em;
@menu-item-selected-background: #205c90;
@menu-item-selected-font-color: White;

@menu-item-selected-hover-font-color: #205c90;

/* Workflow State - member.less */

@workflow-state-private: Red;
@workflow-state-private-color: White;
@workflow-state-visible: #74AE0B;
@workflow-state-visible-color: White;
@workflow-state-published: #436976;
@workflow-state-published-color: White;
@workflow-state-pending: #FFA500;
@workflow-state-pending-color: White;
@workflow-state-expired: Red;
@workflow-syndicated: #008000;