#content {
    div.documentByLine {
        clear: both;
        margin-top: 15px;
        text-align: @content-documentByLine-text-align;
        border-top: @content-documentByLine-border-top;
    }

    .keywords {
        border-bottom: @content-items-heading-border-bottom;
        padding-bottom: @content-items-heading-padding-bottom;
        color: @content-keywords-color;
        margin-bottom: @content-keywords-margin-bottom;
        margin-top: @content-keywords-margin-top;
    }

    figure {
        &.image-left {
            margin-right: 10px;
            margin-left: 0;
        }
        &.image-right {
            margin-left: 10px;
            margin-right: 0;
        }
        figcaption {
            text-align: center;
            
            .image-caption {
                font-size: 80%;
            }
        }
        .highslide img {
            border: 0 solid none !important;
        }
        .image-box {
            background-color: #CCCCCC;
        }
    }

    .figure-items {
        .figure-item {
            margin-bottom: 5px;
            margin-right: 5px;
        }
    }

    .lead-figures {
        figure.figure-container {
            margin-top: 0px;
        }
    }
    .lead-figures-left {
        float: left;
        margin-right: 10px;
        
        .lead-figure-left {
            float: left;
            margin-top: 3px;
        }
    }
    .lead-figures-right {
        float: right;
        margin-left: 10px;
        
        .lead-figure-right {
            float: right;
        }
    }

    .items-heading {
        font-size: @h2-font-size;
        margin: @content-items-heading-margin;
        a {
            border-bottom: none;
        }
    }

    ul.content-items,
    ul.file-items,
    ul.related-items,
    ul.link-items {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        
        li:before {
            content: "» ";
        }
    }
    
    .file-item-title .discreet {
        margin-left: 5px;
        font-size: @font-size-smallest;
        
        &:before {
            content: "(";
        }
        &:after {
            content: ")";
        }
    }
    
    .item-listing .figure-container {
        margin-top: 4px;
    }
}